<section>
<h2>This is the checkout.html view</h2>

    <div data-ng-controller="CheckoutSubmitController">
        <div data-ng-controller="CheckoutItemsController" data-ng-include src="'./views/partials/checkoutItems.html'">

        </div>
        <div data-ng-controller="CheckoutShippingController" data-ng-include src="'./views/partials/checkoutShipping.html'">

        </div>
        <div data-ng-controller="CheckoutPaymentController" data-ng-include src="'./views/partials/checkoutPayment.html'">

        </div>
        <button data-ng-click="submitOrder()">Submit Order</button>
        <button data-ng-click="test()">test Order</button>
    </div>
</section>