<div class="checkoutPaymentContainer">
    <h4>{{message}}</h4>
    <label for="creditCardNumber">Credit Card Number
        <input type="number" name="" value="" placeholder="4444333322221111" id="creditCardNumber" data-ng-model="cc.number">
    </label><br>
    <label for="creditCardType">Credit Card Type
        <select
            class="creditCardType"
            id="creditCardType"
            data-ng-options="card for card in creditCard.type"
            data-ng-model="cc.type">
        </select>
    </label><br>
    <label for="creditCardExp">Expiration Date
        <select
            class="creditCardType"
            id="creditCardExp"
            data-ng-options="card.name for card in creditCard.month"
            data-ng-model="cc.month">
        </select>
        <select
            class="creditCardType"
            data-ng-options="card for card in creditCard.year"
            data-ng-model="cc.year">
        </select>
    </label><br>
    <label for="creditCardCVV">CVV Code <span class="help"><a href="">What is this?</a></span>
        <input type="number" name="" value="" placeholder="000" id="creditCardCVV" data-ng-model="cc.csv">
    </label><br>
    <button data-ng-click="saveCC(cc)">Submit CC data</button>
</div>