<h4>Look at me! I'm an include called checkoutItems.html</h4>
<div class="checkoutItemsContainer">
   <!--  <div data-ng-repeat="item in loadCart.items">
        <p>Item: {{item.itemId}}</p>
        <p>cost: {{item.unitCost}}</p>
        <button data-ng-click="removeItem(item.position)">Remove Item</button>
    </div> -->

	<table cellspacing="0" cellpadding="0">
		<thead>
			<tr >
				<th>&nbsp</th><th>&nbsp</th><th>Price</th><th>Quantity</th>
			</tr>
		<thead>
		<tbody>
			<tr data-ng-repeat="item in loadCart.items">
				<td class="cart-column image"><img class="defaultImage" src="{{item.defaultThumbnailUrl}}" alt="" /></td>
				<td class="cart-column description">{{item.description}}<br><a class="remoteItem" data-ng-click="removeItem(item.position)">Remove Item</a></td>
				<td class="cart-column price">{{item.unitCost}}</td>
				<td class="cart-column quantity">{{item.quantity}}</td>
			</tr>
		</tbody>
  </table>





    <p>Subtotal: {{loadCart.subtotal}}</p>
    <button data-ng-click="keepShopping()">Keep Shopping</button>
</div>
<!-- end .checkoutItemsContainer -->